* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    
}
body{
    font-size: 18px;
}
nav{
   
    text-align: right;
    padding: 1.875em 3.125em 0.625em 0;
    box-shadow: 0em 0.625em 0.625em #e5e5e5;
    display: block;
    position: fixed;
    background-color: #ffff;
    right: 50;
    width: 100vmax; 
    font-size: 1vmax; 
    z-index: 1; 
    
}
.menu{
    visibility: hidden;
}

nav > a{
    color: black;
    
    font-weight: 300;
    text-decoration: none;
    margin-right: 0.625em;
    margin-bottom: 1.25em;
    padding: 1.25em;  
    
}
nav > a:hover{    
    color: #34b0be;
}

h1 {
    font-size: 7vmax;
    color: #ff4f6f;
    padding: 0.75rem;
    font: bold;
     
}
h2{
    font-size: 3vmax;
    font: bold;
}
.malla {
    display: flex;
    width: 18vmax;
    margin-left: 100px;
    padding: 25px;
    
    
}
.malla:hover{
    visibility: hidden;
    transition: 1000ms;
}
.containerhome{
    width: 95vmax;
    margin: 0.625em;
    display: block;
    
}

.HOME{
    display: block;
    float: right;
    
    width: 48vmax;
    height: 50vmax;
    text-align: left;
    
}
.HOME h2{
    font-size: 9vmax;
}
.HOME h1{
    font-size: 5vmax;
}
.redes{
    border-bottom-style: solid ;
    border-color: #e5e5e5 ;
    width: 40vmax;
    margin-bottom: 2.125rem;
    padding: 1.25rem;
    display: flex;
    flex-direction: row;

    
}
.redes img{
    border-width: 1px;
    border-style: solid;
    color: #34b0be;
    width: 7vmax;
    border-radius: 3.125em;
    padding: 2vh;
    margin-right: 4vh;
}

.foto{
    
    width: 47vmax;
    height: 49vmax;
    padding-right: 1.5625em; 
    padding-left: 1.3em;
    top: 7.5vmax;
}
.mifoto{
    position: absolute;
    left: 5vmax; 
    top: 10vmax;
    width: 48vmax;
    height: 54vmax;      
}
.mifoto:hover{
    visibility: hidden;
    transition: 1000ms;
}

.contactame{
    display: flex;
    background-color: #ff4f6f;
    width: 22vmax;
    padding: 1vh;
    text-align: center;
    border-top-right-radius: 3.125em;
    border-bottom-right-radius: 3.125em;
    
}

.contactame h5{
    
    text-align: center;
    color: aliceblue;
    font-size: 2.5vmax;
    margin-left: 2vh;
}
.SERVICIOS{
    display: block;
    margin: 1.25em;
    margin-top: 6.25em;
    width: 90vmax;
}
.titulo_servicios{
    
    display: flex;
    margin-left: 3.125em;
    padding-top: 5.25em;
    
}

.SERVICIOS div{
    padding-bottom: 2.5em;    
}
.servicios-contenido{
    display:flex;
    flex-direction: nowrap;
    justify-content: space-evenly;  
    margin: 0.625em;
    
      
}
.servicios-contenido img{
    width: 40%;
    align-items: center;
    margin-top: 3.125em;
    
}
.servicios-contenido div{
    background-color: #ffff;
    margin: 0.625em;
    text-align: center;
    box-shadow: 0em 0.625em 0.625em #e5e5e5;
      
}
.flechaizquierda {
    background-color: #e5e5e5;
    width: 7vmax;
    border-radius: 100%;
    margin-left: 10vh;
    margin-top: 1em;

}

.flechaderecha {
    background-color: #e5e5e5;
    width: 7vmax;
    border-radius: 100%;
    margin-left: 2vh;
    margin-top: 1em;
}
.flechaizquierda:hover{
    background-color: #ff4f6f;
    text-decoration: underline;
}
.flechaderecha:hover{
    background-color: #ff4f6f;
    text-decoration: underline;
}

.ACERCA_DE_MI{
    display: block;
    width: 90vmax;
    margin: 1.25em;
    background-color: #ffff;
    padding-bottom: 2.5em;
}
.titulo_acerca_de_mi{
    width: 90vmax;
    display: block;
    
    margin-left: 3.125em;
    padding-top: 6.25em;
    
    
}
.ACERCA_DE_MI p{
    
    margin-left: 1.25em;
}
.parrafo_acerca_de_mi{
    
    display: flex;
}
.parrafo_acerca_de_mi img{
    float: right;
    display: block;
    margin-right: 0.625em;
    width: 20vmax;
}
.ACERCA_DE_MI .contenido{
    display:flex;
    justify-content: space-evenly;  
    margin: 0.625em;
    
}
.ACERCA_DE_MI .contenido img{
    width: 40%;
    align-items: center;
    margin-top: 3.125em;
    
}
.ACERCA_DE_MI .contenido img:hover{
    visibility: hidden;
    transition: 1000ms;
    
}
.malla2:hover{
    visibility: hidden;
    transition: 1000ms;
}
.ACERCA_DE_MI .contenido div{
    background-color: #ffff;
    margin: 0.625em;
    width: 30%;
    text-align: center;
    box-shadow: 0em 0.625em 0.625em #e5e5e5;
    
}
.MIS_HABILIDADES{
    display: flex;
    flex-wrap: wrap;
    width: 90vmax;
    margin: 1.25em;
    background-color: #ffff;
    align-items: center;
}
.titulo-habilidades{
    width: 90vmax;
    display: block;
    
    margin-left: 3.125em;
    padding-top: 6.25em;
}
.contenido-habilidades{
    display: block;
    margin: 5em;
}
.contenido-linea{
    
    margin: 0.625em;
    display: flex;
}
.cuadro{
    display: block;
    border-top-style: solid;
    color: #34b0be;
    box-shadow: 0em 0.625em 0.625em #e5e5e5;
    padding: 10px; 
      
}
.contenido-habilidades .cuadro{
    margin-bottom: 0.625rem;
    width: 10%;
    
}

.contenido-habilidades .text{
    margin: 1.875em;
    margin-left: 6.25em;
    
    width: 90%;
}
.contenido-habilidades div h1{
    align-items: center;
    color: #34b0be;
    
}
.contenido-habilidades div h2{
    
    color: #34b0be;
}
.contenido-habilidades h3{
    text-align: left;
}
.MI_PORTAFOLIO{
    display: block;
    background-color: #ffff;
    padding-bottom: 1.875em;
    width: 98vmax;
    
}
.titulo-portafolio{
    width: 90vmax;
    display: block;
    
    margin-left: 3.125em;
    padding-top: 6.25em;
}
.MI_PORTAFOLIO img{
    text-align: center;
    width: 100%; 
}

/* #img-portafolio2:hover,#img-portafolio3:hover,#img-portafolio6:hover{
    width: 70%;
    position: absolute;
    transition-duration:2s;  
}
#img-portafolio1:hover,#img-portafolio5:hover{
    width: 70%;
    position: absolute;
    transition-duration:2s;
    left: 10px; 
}
#img-portafolio4:hover,#img-portafolio7:hover{
    width: 100%;
    position: absolute;
    transition-duration:2s; 
    right: 10px; 
} */
.portafolio-contenido{
    display:flex;
    justify-content: space-evenly;  
    margin: 10px;
    margin-top: 80px;
    
    margin-right: 10px;
}

.portafolio-contenido div{
    background-color: #ffff;
    width: 100vmax;    
    margin-right: 15px;
    box-shadow: 0em 0.625em 0.625em #e5e5e5;
    
}
.portafolio-contenido h2{
    padding: 20px;
    font-size: 1.5vmax;
    
}


.CONTACTO{
    display: block;
    margin: 1.25em;
    width: 90vmax;
}
.titulo-contacto{
    width: 90vmax;
    display: block;
    
    margin-left: 3.125rem;
    padding-top: 6.25em;
}

.contenido-contacto{
    
    display:flex;
    justify-content: space-evenly;  
    margin: 0.625em;
    margin-top: 12.5em;
     
}
.contenido-contacto img{
    width: 60%;
    margin-bottom: 1.25em;
    
    
}
.contenido-contacto div{
    background-color: #ffff;
    text-align: center;
    margin: 1.25em;
   
   
    width: 20%;
    box-shadow: 0em 0.625em 0.625em #e5e5e5;
    
}

.curriculum{
    width: 90%;
    display: block;
    margin: 0;
    margin-top: 50px;
    
}

.curriculum img{
    width: 6%;
    margin-left: 300px;
}

.pie-pagina{
    margin: 6.25em;
    text-align: center;
}
/*---------------------------version Movil--------------------------------------------*/
@media screen and (max-width: 500px){
    body{
        font-size: 16px;
        padding: 0;
        margin: 0;
        width: 95%;
    }
    section{
        font-size: 18px;
    }
    h2{
        font-size: 32px;
    }
    h1{
        font-size: 40px;
        width: 250px;
        font: bold;
        margin-left: 5px;
        padding: 0;
    }

    nav{
        visibility: hidden;
        display: none;
        position: fixed;
        flex-direction: column;
        text-align: center;
        width: 95%;
        height: 95%;
        transition: 1s;
        font-size: 16px;
        margin-left: 0px;
        padding: 10px;
        z-index: 1;
        
    }
     
    .menu{
        visibility: visible;
        position: fixed;
        display: block;
        left: 10px;
        right: 10px;

    }
    
    nav:hover{
        display: flex;
        
    }
    .menu:hover{
        display: none;
    }
    
    .servicios-contenido{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;  
        margin: 0.625em;
         
    }

    .containerhome{
        width: 95%;
        height: 90vh;
        display: block;
        margin: 0;
        
    }
    .HOME{
        width:98%;
        display: block;
        float: left;
   
    }
    .contactame{
        margin-left: 5px;
        color: #ffff;
        text-decoration: none;
        width: 85%;
    }
    .HOME h2{
        font-size: 70px;
    }
    div.redes{
        width: 90%;
    }
    .redes img{
        padding: 0;
        margin-right: 10px;
    }
    .foto{
        width: 90%;
        height: 350px;
        float: left;
        margin-left: 5px;
        padding: 0;
    }
    .mifoto {
        position: absolute;
        width: 90%;
        height: 360px;
        float: left;
        left: 15px;
        margin-top: 10px;
        padding: 0;
        
    }
    .SERVICIOS{
        width: 95%;
        display: block;
        margin: 0;
    }
    .titulo_servicios {
        margin-left: 5px;
        width: 95%;
        
        
    }
    .servicios-contenido{
        width: 95%;
    }
    .ACERCA_DE_MI{
        display: block;
        width: 95%;
        
    }
    .ACERCA_DE_MI div{
        display: flex;
        
        flex-direction: column;
        width: 95%;
    }
    .ACERCA_DE_MI .contenido div{
        width: 95%;
        align-items: center;
    }
    
    .ACERCA_DE_MI div div{
        width: 95%;
    }
    div.titulo_acerca_de_mi{
        width: 250px;
        padding: 0;
        margin-left: 0;
    }
    .MIS_HABILIDADES{
        display: block;
        width: 98%;
        margin-left: 5px;
        
    }
    div.cuadro{
        display: block;
        width: 95%;
        margin-left: 5px;
    }
    .titulo-habilidades{
        width: 250px;
        margin-left: 0;
        font-size: 30px;
    }
    div.contenido-habilidades{
        margin: 0;
        width: 98%;

    }
    div.contenido-linea{
        width: 95%;
        font-size: 10px;
    }
    
    .MI_PORTAFOLIO{
        display: block;
        width: 95%;
        padding: 0;
        
    }
    .titulo-portafolio{
        width: 200px;
        margin-left: 0;
        font-size: 10px;
        margin-bottom: 10px;
    }
    
    .MI_PORTAFOLIO div{
        width: 95%;
    }
    .portafolio-contenido{
        display:contents;
        justify-content: space-evenly;
          
    }
    .portafolio-contenido .img-portafolio{
        margin-left: 5px;
        margin-top: 10px; 
    }
    .CONTACTO{
        width: 90%;
        display: block;
        margin: 0;
        
    }
    .contenido-contacto{
        margin-top: 50px;
    }
    .CONTACTO div{
        display: block;
    }
    div.titulo-contacto{
        margin-left: 2px;
        width: 250px;
    }

    .curriculum{
        width: 90%;
        display: block;
        margin: 0;
        margin-top: 50px;
        
    }
    
    .curriculum img{
        width: 20%;
        margin-left: 30px;
    }
    .pie-pagina{
        width: 95%;
        text-align: center;
        margin-left: 0;
    }
    footer{
        width: 90%;
    }
    

    #img-portafolio2:hover,#img-portafolio3:hover,#img-portafolio1:hover,#img-portafolio4:hover{
        width: 100%;
        position: static; 
    }
    
}
