* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    
}
body{
    font-size: 18px;
}
nav{
   
    text-align: right;
    padding: 1.875em 3.125em 0.625em 0;
    box-shadow: 0em 0.625em 0.625em #e5e5e5;
    display: block;
    position: fixed;
    background-color: #ffff;
    right: 50;
    width: 100vmax; 
    font-size: 1vmax;  
    
}
.menu{
    display: none;
}

nav > a{
    color: black;
    
    font-weight: 300;
    text-decoration: none;
    margin-right: 0.625em;
    margin-bottom: 1.25em;
    padding: 1.25em;  
    
}
nav > a:hover{    
    color: #34b0be;
}

h1 {
    font-size: 7vmax;
    color: #ff4f6f;
    padding: 0.75rem;
    font: bold;
     
}
h2{
    font-size: 3vmax;
    font: bold;
}
.malla {
    display: flex;
    width: 18vmax;
    margin-left: 100px;
    padding: 25px;
    position: relative;
    
}
.containerhome{
    width: 95vmax;
    margin: 0.625em;
    display: block;
    
}

.HOME{
    display: block;
    float: right;
    
    width: 48vmax;
    height: 50vmax;
    text-align: left;
    
}
.HOME h2{
    font-size: 9vmax;
}
.HOME h1{
    font-size: 5vmax;
}
.redes{
    border-bottom-style: solid ;
    border-color: #e5e5e5 ;
    width: 40vmax;
    margin-bottom: 2.125rem;
    padding: 1.25rem;
    display: flex;
    flex-direction: row;

    
}
.redes img{
    border-width: 1px;
    border-style: solid;
    color: #34b0be;
    width: 7vmax;
    border-radius: 3.125em;
    padding: 2vh;
    margin-right: 4vh;
}

.foto{
    
    width: 47vmax;
    height: 49vmax;
    padding-right: 1.5625em; 
    padding-left: 1.3em;
    top: 7.5vmax;
}
.mifoto{
    position: absolute;
    left: 5vmax; 
    top: 10vmax;
    width: 48vmax;
    height: 54vmax;      
}

.contactame{
    display: flex;
    background-color: #ff4f6f;
    width: 22vmax;
    padding: 1vh;
    text-align: center;
    border-top-right-radius: 3.125em;
    border-bottom-right-radius: 3.125em;
    
}

.contactame h5{
    
    text-align: center;
    color: aliceblue;
    font-size: 2.5vmax;
    margin-left: 2vh;
}
.SERVICIOS{
    display: block;
    margin: 1.25em;
    margin-top: 6.25em;
    width: 90vmax;
}
.titulo_servicios{
    
    display: flex;
    margin-left: 3.125em;
    padding-top: 5.25em;
    
}

.SERVICIOS div{
    padding-bottom: 2.5em;    
}
.servicios-contenido{
    display:flex;
    flex-direction: nowrap;
    justify-content: space-evenly;  
    margin: 0.625em;
    
      
}
.servicios-contenido img{
    width: 40%;
    align-items: center;
    margin-top: 3.125em;
    
}
.servicios-contenido div{
    background-color: #ffff;
    margin: 0.625em;
    text-align: center;
    box-shadow: 0em 0.625em 0.625em #e5e5e5;
      
}
.flechaizquierda {
    background-color: #e5e5e5;
    width: 7vmax;
    border-radius: 100%;
    margin-left: 10vh;
    margin-top: 1em;

}

.flechaderecha {
    background-color: #e5e5e5;
    width: 7vmax;
    border-radius: 100%;
    margin-left: 2vh;
    margin-top: 1em;
}
.flechaizquierda:hover{
    background-color: #ff4f6f;
    text-decoration: underline;
}
.flechaderecha:hover{
    background-color: #ff4f6f;
    text-decoration: underline;
}

.ACERCA_DE_MI{
    display: block;
    width: 90vmax;
    margin: 1.25em;
    background-color: #ffff;
    padding-bottom: 2.5em;
}
.titulo_acerca_de_mi{
    width: 90vmax;
    display: block;
    
    margin-left: 3.125em;
    padding-top: 6.25em;
    
    
}
.ACERCA_DE_MI p{
    
    margin-left: 1.25em;
}
.parrafo_acerca_de_mi{
    
    display: flex;
}
.parrafo_acerca_de_mi img{
    float: right;
    display: block;
    margin-right: 0.625em;
    width: 20vmax;
}
.ACERCA_DE_MI .contenido{
    display:flex;
    justify-content: space-evenly;  
    margin: 0.625em;
    
}
.ACERCA_DE_MI .contenido img{
    width: 40%;
    align-items: center;
    margin-top: 3.125em;
    
}
.ACERCA_DE_MI .contenido div{
    background-color: #ffff;
    margin: 0.625em;
    width: 30%;
    text-align: center;
    box-shadow: 0em 0.625em 0.625em #e5e5e5;
    
}
.MIS_HABILIDADES{
    display: flex;
    flex-wrap: wrap;
    width: 90vmax;
    margin: 1.25em;
    background-color: #ffff;
    align-items: center;
}
.titulo-habilidades{
    width: 90vmax;
    display: block;
    
    margin-left: 3.125em;
    padding-top: 6.25em;
}
.contenido-habilidades{
    display: block;
    margin: 5em;
}
.contenido-linea{
    
    margin: 0.625em;
    display: flex;
}
.cuadro{
    display: block;
    border-top-style: solid;
    color: #34b0be;
    box-shadow: 0em 0.625em 0.625em #e5e5e5;
    padding: 10px; 
      
}
.contenido-habilidades .cuadro{
    margin-bottom: 0.625rem;
    width: 10%;
    
}

.contenido-habilidades .text{
    margin: 1.875em;
    margin-left: 6.25em;
    
    width: 90%;
}
.contenido-habilidades div h1{
    align-items: center;
    color: #34b0be;
    
}
.contenido-habilidades div h2{
    
    color: #34b0be;
}
.contenido-habilidades h3{
    text-align: left;
}
.MI_PORTAFOLIO{
    display: block;
    background-color: #ffff;
    padding-bottom: 1.875em;
    width: 90vmax;
    
}
.titulo-portafolio{
    width: 90vmax;
    display: block;
    
    margin-left: 3.125em;
    padding-top: 6.25em;
}
.MI_PORTAFOLIO img{
    text-align: center;
    width: 100%;
    
}
.portafolio-contenido{
    display:flex;
    justify-content: space-evenly;  
    margin: 10px;
    margin-top: 80px;
    
    margin-right: 10px;
}

.portafolio-contenido div{
    background-color: #ffff;
    width: 100vmax;    
    margin-right: 15px;
    box-shadow: 0em 0.625em 0.625em #e5e5e5;
    
}
.portafolio-contenido h2{
    padding: 20px;
    font-size: 1.5vmax;
}


.CONTACTO{
    display: block;
    margin: 1.25em;
    width: 90vmax;
}
.titulo-contacto{
    width: 90vmax;
    display: block;
    
    margin-left: 3.125em;
    padding-top: 6.25em;
}

.contenido-contacto{
    
    display:flex;
    justify-content: space-evenly;  
    margin: 0.625em;
    margin-top: 12.5em;
     
}
.contenido-contacto img{
    width: 60%;
    margin-bottom: 1.25em;
    
    
}
.contenido-contacto div{
    background-color: #ffff;
    text-align: center;
    margin: 1.25em;
    width: 20%;
    box-shadow: 0em 0.625em 0.625em #e5e5e5;
    
}
.pie-pagina{
    margin: 6.25em;
    text-align: center;
}

@media screen and (max-width: 500px){
    body{
        font-size: 16px;
    }
    subsection{
        font-size: 18px;
    }
    h2{
        font-size: 32px;
    }
    h1{
        font-size: 50px;
        font: bold;
    }

    .portafolio-contenido{
        display:contents;
        justify-content: space-evenly;  
        margin: 10em;
        margin-top: 12.5em;
        
        margin-right: 6.25em;
    }
    nav a{
        display: none;
    }
    .menu{
        display: block;
        position: fixed;
        top: 20px;
        right: 80px;
        padding: 10px;
        width: 10vmax;
    }
    .menu:hover{
        background-color: #34b0be;
        
    }
    .menu:hover,nav a{
        display: block;
    }
    nav:hover{
        display: flex;
        position: fixed;
        flex-direction: column;
        top: 90px;
        right: 0;
        text-align: center;
        width:63vh;
        font-size: 10px;
    }
    .servicios-contenido{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;  
        margin: 0.625em;
         
    }


}
